{% extends 'sash/base.html' %}

{% block content %}
<section>
  <div class="main_vid">
    <video autoplay loop src="https://content.rolex.com/dam/watches/family-pages/gmt-master-ii/video/cover/professional-watches-gmt-master-ii-cover-video.mp4" type="video">
    </video>

  <div class="vid_heading">
    <h1>GMT-MASTER II</h1>
    <h5>THE COSMOPOLITAN WATCH</h5>
  </div>


  </div>

  <div class="sub_heading">
    <h2>
      ROLEX WATCHES ARE CRAFTED WITH SCRUPULOUS ATTENTION TO DETAIL.
    </h2>

    <p>
      Explore the Rolex collection of prestigious, high-precision timepieces. Rolex offers a wide assortment of Oyster Perpetual and Cellini watches to suit any wrist. Discover the broad selection of Rolex watches to find a perfect combination of style and functionality.
    </p>
  </div>

</section>

<section>
  <div class="carousel">
    <div class="item">
      <figure>
        <img src="https://content.rolex.com/dam/2021/upright-bba-with-shadow/m126710blnr-0002.png?imwidth=420" alt="watch">
        <figcaption>
          The Cellini Moonphase
        </figcaption>
      </figure>
    </div>
    <div class="item">
      <figure>
        <img src="https://content.rolex.com/dam/2021/upright-bba-with-shadow/m126710blnr-0002.png?imwidth=420" alt="watch">
        <figcaption>
          The Cellini Moonphase
        </figcaption>
      </figure>
    </div>
    <div class="item">
      <figure>
        <img src="https://content.rolex.com/dam/2021/upright-bba-with-shadow/m126710blnr-0002.png?imwidth=420" alt="watch">
        <figcaption>
          The Cellini Moonphase
        </figcaption>
      </figure>
    </div>
    <div class="item">
      <figure>
        <img src="https://content.rolex.com/dam/2021/upright-bba-with-shadow/m126710blnr-0002.png?imwidth=420" alt="watch">
        <figcaption>
          The Cellini Moonphase
        </figcaption>
      </figure>
    </div>
    <div class="item">
      <figure>
        <img src="https://content.rolex.com/dam/2021/upright-bba-with-shadow/m126710blnr-0002.png?imwidth=420" alt="watch">
        <figcaption>
          The Cellini Moonphase
        </figcaption>
      </figure>
    </div>
    <div class="item">
      <figure>
        <img src="https://content.rolex.com/dam/2021/upright-bba-with-shadow/m126710blnr-0002.png?imwidth=420" alt="watch">
        <figcaption>
          The Cellini Moonphase
        </figcaption>
      </figure>
    </div>
  </div>
</section>

<section>
  <div class="images">
    <img id="one" media="(max-width: 767px)" src="https://media.gq.com/photos/618c1e968531aa4878504c0f/1:1/tom-holland-gq-men-of-the-year-2021-lede.jpg" alt="2">

    <img id="two" src="https://content.rolex.com/dam/watches/family-pages/cellini/roller-features-family/family-page-cellini-time_beauty_m50505-0009_1405jdm_002_portrait.jpg">
  </div>
</section>

<section>
  <div class="paradox">
    <img src="https://content.rolex.com/dam/new-watches-2021/watch-on-time/m50535-0002/landscape_big.jpg" media="(min-width: 768px)">
  </div>
</section>



{% endblock content %}
